@import "tailwindcss";

@font-face {
  font-family: 'w95fa'; /* Este es el nombre que usarás en Tailwind */
  src: url('./fonts/w95fa.woff') format('woff'),
       url('./fonts/W95FA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Opción recomendada para rendimiento */
}
/* Asegúrate de que la ruta (./fonts/...) sea correcta respecto a tu archivo CSS */

@font-face {
  font-family: 'humane'; /* Este es el nombre que usarás en Tailwind */
  src: url('./fonts/Humane-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Opción recomendada para rendimiento */
}

@theme
{
    --font-display: "w95fa", sans-serif;
    --font-humane: "humane", sans-serif;

}